body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #201b2c;
  color: aquamarine;
}

#Padministrador {
  text-align: center;
  margin-top: 50px;
  font-weight: 800;
}

a {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 20px auto;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #2b134b;
  background: aquamarine;
  box-shadow: 0px 10px 40px -12px aquamarine;
}
