body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #201b2c;
  color: aquamarine;
}
#Paluno {
  text-align: center;
  margin-top: 50px;
  font-weight: 800;
}
.btn-aluno{
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #2b134b;
  background: aquamarine;
  cursor: pointer;
  box-shadow:  0px 10px 40px -12px aquamarine;
  text-align:center;
  text-decoration: none;
  font-size: medium;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  margin: 0 auto;
}
