body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background:#201b2c;;
}

h1,
h2 {
  color: aquamarine;
}

#ContainerTitulo {
  text-align: center;
}

#containerPergunta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#containerPergunta label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

#containerPergunta input[type="radio"] {
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  width: 30%;
}

.btn-ver {
  flex-grow: 1;
  padding: 12px 0px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #2b134b;
  background: aquamarine;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px aquamarine;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
.btn-ver:hover{
  background: #2b134b;
  color: aquamarine;
}
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 3px;
}



